<div class="card_col">
  <div class="card">
      <div class="card-body">
          <div class="clearfix">
              <div class="title_circle rounded-circle float-left"> JS </div>
          <div class="float-left card-title">
              <h5>John Smith</h5>
          </div>
          </div>
          
          
          <div class="card_info">
                  <div class="info_row row">
                    <div class="col-5 res_title">
                     Block Name
                    </div>
                    <div class="col-7 res_val">
                      xyz
                    </div>
                  </div> <!--info_row-->
                  <div class="info_row row">
                    <div class="col-5 res_title">
                      Unit#
                    </div>
                    <div class="col-7 res_val">
                      3394385 
                    </div>
                  </div> <!--info_row-->
                  <div class="info_row row">
                    <div class="col-5 res_title">
                      E-mail
                    </div>
                    <div class="col-7 res_val">
                      dfjheuss@gmail.com
                    </div>
                  </div> <!--info_row-->
                  <div class="info_row row">
                    <div class="col-5 res_title">
                      Requested By
                    </div>
                    <div class="col-7 res_val">
                      asjhugys@gmail.com
                    </div>
                  </div>
                </div> <!--card_info-->
          <div class="card_footer">
                  <div class="row align-middle">
                    <div class="left_col col text-center">
                      <button type="button" class="btn btn-link text-primary">Send Registration Link</button>
                    </div>
                  </div>
                </div> <!--card_footer-->
          <!--card_footer-->
      </div>
  </div>
</div>
<!--card_col-->