<div class="left_nav">
  <div>
    <div class="dashboard">
      <img src="assets/images/dashboard.png">
    </div>
    <div class="text">
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    </div>
  </div>
  <div>
    <div class="dashboard">
      <img src="assets/images/property.png">
    </div>
    <div class="text">
        <a onclick="hide_default();" routerLink="/property" routerLinkActive="active">Property</a>      
    </div>
  </div>
  <div>
    <div class="dashboard">
      <img src="assets/images/collaboration.png">
    </div>
    <div class="text">
        <a onclick="hide_default();" routerLink="/collaboration" routerLinkActive="active">Collaboration</a>
    </div>
  </div>
  <div>
    <div class="dashboard">
      <img src="assets/images/documents.png">
    </div>
    <div class="text">
      <a routerLink="/documents" routerLinkActive="active">Documents</a></div>
  </div>
  <div>
    <div class="dashboard">
      <img src="assets/images/accounting.png">
    </div>
    <div class="text">Accounting</div>
  </div>
  <div>
    <div class="dashboard">
      <img src="assets/images/help.png">
    </div>
    <div class="text">
        <a onclick="hide_default();" routerLink="/help-desk" routerLinkActive="active">Help</a>
    </div>
  </div>
</div>

<!-- <div class="left_nav">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <span class="nav_icon">
        <img src="assets/images/dashboard.png">
      </span>
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    </li>
    <li class="nav-item">
      <span class="nav_icon">
        <img src="assets/images/property.png">
      </span>
      <a class="nav-link" routerLink="/property" routerLinkActive="active">Property</a>
    </li>
    <li class="nav-item">
      <span class="nav_icon">
        <img src="assets/images/collaboration.png">
      </span>
      <a class="nav-link" routerLink="/collaboration" routerLinkActive="active">Collabration</a>
    </li>
    <li class="nav-item">
      <span class="nav_icon">
        <img src="assets/images/documents.png">
      </span>
      <a class="nav-link active" href="#">Documents</a>
    </li>
    <li class="nav-item">
      <span class="nav_icon">
        <img src="assets/images/accounting.png">
      </span>
      <a class="nav-link active" href="#">Accounting</a>
    </li>
    <li class="nav-item">
      <span class="nav_icon">
        <img src="assets/images/help.png">
      </span>
      <a class="nav-link active" href="#">Help</a>
    </li> 
  </ul>
</div> -->
