<div class="col-md-12 mTop4per header-1">
    <div class="col-md-4 offset-md-4">
        <table class="table ticket-status">
            <tr>
                <td class="ticket-value">16</td>
                <td class="ticket-value">24</td>
            </tr>
            <tr>
                <td class="open-ticket">Open Tickets</td>
                <td class="close-ticket">Closed Tickets</td>
            </tr>
        </table>
    </div>
</div>
<div class="pos_rig">
    <button class="btn btn-primary" data-toggle="modal" data-target="#createnewhelp">Create New</button>
    <app-createnewhelp></app-createnewhelp>
</div>
<div class="col-md-12 header-2">
    <div class="col-md-10 offset-md-1">
        <h3 class="help-title">Help Desk</h3>
        <app-datatable></app-datatable>
    </div>
</div>
