<!-- Modal -->
<div class="modal fade" id="addresidentmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">New Member</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                      </div>
                </div>
              <div class="col-md-6">
                  <div class="form-group required control-label">
                      <label for="inputsm" class="check-label ">Block Name</label>
                      <input class="form-control input-sm" id="inputsm" required="required" type="text">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group required control-label">
                      <label for="inputsm" class="check-label ">Unit#</label>
                      <input class="form-control input-sm" id="inputsm" required="required" type="text">
                  </div>
               </div>
              <div class="col-md-6">
                  <div class="form-group required control-label">
                      <label for="inputsm" class="check-label ">First Name</label>
                      <input class="form-control input-sm" id="inputsm" required="required" type="text">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group required control-label">
                      <label for="inputsm" class="check-label ">Last Name</label>
                      <input class="form-control input-sm" id="inputsm" required="required" type="text">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group required control-label">
                      <label for="inputsm" class="check-label ">Role</label>
                      <input class="form-control input-sm" id="inputsm" required="required" type="text">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group required control-label">
                      <label for="inputsm" class="check-label ">Member Type</label>
                      <input class="form-control input-sm" id="inputsm" required="required" type="text">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group required control-label">
                      <label for="inputsm" class="check-label ">E-mail</label>
                      <input class="form-control input-sm" id="inputsm" required="required" type="text">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group required control-label">
                      <label for="inputsm" class="check-label ">Contact#</label>
                      <input class="form-control input-sm" id="inputsm" required="required" type="text">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group required control-label">
                      <label for="inputsm" class="check-label ">Intercom</label>
                      <input class="form-control input-sm" id="inputsm" required="required" type="text">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group required control-label">
                      <label for="inputsm" class="check-label ">Date of Joining</label>
                      <input class="form-control input-sm" id="inputsm" required="required" type="text">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group required control-label">
                      <label for="inputsm" class="check-label ">Date of Leaving</label>
                      <input class="form-control input-sm" id="inputsm" required="required" type="text">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group required control-label">
                      <label for="inputsm" class="check-label ">Status</label>
                      <input class="form-control input-sm" id="inputsm" required="required" type="text">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group required control-label">
                      <label for="inputsm" class="check-label ">Updated Date/Time</label>
                      <input class="form-control input-sm" id="inputsm" required="required" type="text">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group required control-label">
                      <label for="inputsm" class="check-label ">Approved Date/Time</label>
                      <input class="form-control input-sm" id="inputsm" required="required" type="text">
                  </div>
              </div>  
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Reset</button>
          <button type="button" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>