<div class="flex_box">
    <div>
      <span class="colorcode admin_col"></span><span class="textcode">Property Admin</span>
    </div>
    <div>
      <span class="colorcode assoc_col"></span><span class="textcode">Association Community</span>
    </div>
    <div>
      <span class="colorcode prop_col"></span><span class="textcode">Property Memeber</span>
    </div>
<div class="pagination_block">
    <nav aria-label="Page navigation example">
        <ul class="pagination text-md-right">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">»</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</div>