.custom-container{
    margin-top: 10%;
    
    background-color: #F0F8FF;
    height:100%;
    width: 100%;
    padding-bottom: 60px;
}
.custom_table .spaceUnder{background-color: #fff;margin-bottom: 10px;}
.custom_table td,.custom_table th{border-top: 8px solid #f0f8ff;font-size: 14px;}

.custom_table a i{padding: 0 5px;color: #ccc;}
.custom_table a i:hover{text-decoration: none;}
.text{
    color: #007bff !important;
    font-size: 18px;
    font-weight:500;

}
.form-control{
    width:auto;
}

.pad-top{
padding-top: 30px;
}

.form-group{
    display: inline-block;
}
.pad-right{
    margin-left: 60%;
}
.table-heading{
font-weight: 500;
color: grey;
}
